.body{

position:relative;
font-family: 'Jost', sans-serif;

}

.nav-item{

    font-size:14px;

    letter-spacing:.2em;
font-weight:bold;
    text-transform :uppercase;
}
.dropdown-item{

    font-size:14px;
    text-transform :uppercase;
}

.my_footer{
    background-color:#4a7c1d;
    height:60px;
    margin-top:10px;



}

.my_footer p{
    padding-top :20px;
    padding-bottom :20px;
    font-size:14px;
    color:#FFFFFF

}
.my_row_class{
    padding-top:15px;
}
.my_row_class .mx_auto{
    color:#000;
    font-size:12px;
}
.my_image{
    width:1297px;
    height:300px;
}
.my_title{
    font-size:16px;
font-weight:bold;
    text-transform:uppercase;
    letter-spacing:.5em;

}
.my_image_padding{
    padding:5px;

}
.my_bottom_margin{
    margin-bottom:20px;

}
.card-body h4{

    font-size:14px;
    text-transform:uppercase;
    text-align:center;
    letter-spacing:.2em;
font-weight:bold;


}

.card-body p{


    font-weight:bold;
    font-size:14px;
    text-transform:uppercase;
    text-align:center;
    letter-spacing:.2em;

}
.my_prod_row_class{
    padding-top:15px;
    padding-bottom:20px
}
.my_prod_row_class .mx_auto{
    color:#000;
    font-size:12px;
    text-decoration:none;
}
.my_prod_title{
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:.2em;
    padding-top:15px;
    padding-bottom:10px;
}
.my_prod_text{
    padding-right:20px;

}
.my_search_text{
    padding-top:20px;
}
.my_custom_table{
    min-width:400px;
    font-size:14px;

}
.my_custom_thead{
    font-weight:normal;
    text-transform:uppercase;
    letter-spacing:.2em;
    background-color:#f8f9fa!important;
}
.custom_a{
    text-decoration:None;

}
.custom_icon{
    text-decoration:None;
    color:#868e96 !important;
}
.my_custom_button{
    margin-top:5px;
}